<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MAN</title>
</head>
<body>
<p th:text="'NAME: '+${person.getName()}">VALUE</p>
<br>
<p th:text="'AGE: '+${person.getAge()}">VALUE</p>
<br>
<p th:text="'EMAIL: '+${person.getEmail()}">VALUE</p>
<br>
<p th:text="'ID: '+${person.getId()}">VALUE</p>
<hr/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit.</a>
<hr/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>


</body>
</html>